<ng-container 
*ngIf="router.url === '/login'  || 
router.url === '/login-username'  || 
router.url === '/login-sedd-phrase' ; then loginHeader ; else infoHeader"
>
</ng-container>

<ng-template #loginHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
        </div>
    </header>
</ng-template>

<ng-template #infoHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
            <button class="custom_button">Next page</button>
        </div>
    </header>
</ng-template>



   

