<ng-container 
*ngIf="router.url === '/'  ||
router.url === '/login'  || 
router.url === '/login-username'  || 
router.url === '/login-seed-phrase' ; then loginHeader ; else infoHeader"
>
</ng-container>

<ng-template #loginHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
        </div>
    </header>
</ng-template>

<ng-template #infoHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo-blue.png" alt=""></a>
            <div class="custom_button"><a href="">Next page</a></div>
        </div>
    </header>
</ng-template>



   

