header{
    width: 100%;
    padding: 52px 0;
    position: fixed;
    top: 0;
    left: 0;
    .main_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        img{
            width: 90px;
            display: block;
        }
    }
    .custom_button{
        a{
            background-color: var(--primary-color);
        }
    }
}